extends layout

block content
	.login-main.register-main
		.login-box.register-box
			h4.login-title 找回密码
			.login-input
				label 手机号码:
				input#username(placeholder='请输入手机号码') 
			.login-input
				label 验证码:
				input#yzm(placeholder='请输入图形验证码') 
				img#yzmPic.yzm(src="")
			.login-input
				label 短信验证码:
				input#postcode(placeholder='请输入短信验证码') 
				button.postcode#postcodeBtn 免费发送验证码
			.login-input
				label 新密码:
				input#password(type='password',placeholder='请输入密码') 
			.login-input
				label 确认新密码:
				input#password2(type='password',placeholder='请确认密码') 	
			.login-option
				input#isagree.checkbox(type='checkbox')
				label 我已阅读
					a.blue 《海彼购用户协议》
			.login-btn
				button#resetBtn 重置密码
			.login-change
				a(href='register') 注册>>>>

block footer
	script(src="/js/findPwd.js?v=#{_v}")