extends layout

block content
	.index-category
		.index-category-name 分类
		.index-category-value
			a 全部
			a YS市场
			a GP市场
			a 鞋服
			a 营养辅食
			a 喂养用品
			a 尿裤湿巾
			a 美妆
			a 个护
			a 进口食品
			a 精品奶粉
			a 营养保健
			a 成人用品
			a 家居用品
			a 家用电器
			a 宠物食品
	.index-category
		.index-category-name 品牌
		.index-category-value
			a 全部
			a 索尼
			a 苹果
			a 华为
			a 香奈儿
			a 贝因美
			a 渴望
			a 康师傅
			a 任天堂
			a 世嘉
			a 红星美凯龙
			a 耐克
			a 小熊
			a 苏泊尔
			a 大师傅
			a 熊博士	
	.goods-list
		ul.list-item

			li.item
				.goods
					a.goods-img
						img(src="/imgs/goods1.jpg")
				.goods-title
					a
						span 这是一袋奶粉，大概吧
				.goods-price
					.goods-price-right
						label 市场价
						span ￥1.00

					.goods-price-left
						strong ￥90.00
			li.item
				.goods
					a.goods-img
						img(src="/imgs/goods1.jpg")
				.goods-title
					a
						span 这是一袋奶粉，大概吧
				.goods-price
					.goods-price-right
						label 市场价
						span ￥1.00

					.goods-price-left
						strong ￥90.00
			li.item
				.goods
					a.goods-img
						img(src="/imgs/goods1.jpg")
				.goods-title
					a
						span 这是一袋奶粉，大概吧
				.goods-price
					.goods-price-right
						label 市场价
						span ￥1.00

					.goods-price-left
						strong ￥90.00
			li.item
				.goods
					a.goods-img
						img(src="/imgs/goods1.jpg")
				.goods-title
					a
						span 这是一袋奶粉，大概吧
				.goods-price
					.goods-price-right
						label 市场价
						span ￥1.00

					.goods-price-left
						strong ￥90.00
			li.item
				.goods
					a.goods-img
						img(src="/imgs/goods1.jpg")
				.goods-title
					a
						span 这是一袋奶粉，大概吧
				.goods-price
					.goods-price-right
						label 市场价
						span ￥1.00

					.goods-price-left
						strong ￥90.00
			li.item
				.goods
					a.goods-img
						img(src="/imgs/goods1.jpg")
				.goods-title
					a
						span 这是一袋奶粉，大概吧
				.goods-price
					.goods-price-right
						label 市场价
						span ￥1.00

					.goods-price-left
						strong ￥90.00
